<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <form [formGroup]="form" class="modal-body">
    <div class="mb-3">
      <app-dropdown
        [options]="contactTypes"
        placeholder="Contact types"
        (selectionChange)="onSelectionChange($event)"
      ></app-dropdown>

      @if (form.get('contactTypeSelected')?.touched && form.get('contactTypeSelected')?.invalid) {
      <div class="text-danger small">Contact type is required.</div>
      }
    </div>

    <div class="mb-3">
      <label for="name">{{ nameLabel }}</label>
      <input type="text" class="form-control" formControlName="name" />
      @if (form.get('name')?.touched && form.get('name')?.invalid) {
      <div class="text-danger small">Name is required.</div>
      }
    </div>

    <div class="mb-3">
      <label for="phonenumber">{{ phoneLabel }}</label>
      <input type="text" class="form-control" formControlName="phoneNumber" />
      @if (form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid) {
      <div class="text-danger small">Phone number is required.</div>
      }
    </div>

    <div class="mb-3">
      <label for="comment">{{ commentLabel }}</label>
      <textarea class="form-control" formControlName="comments"></textarea>
    </div>

    <!-- Conditional fields based on contact type -->
    @if (form.get('contactTypeSelected')?.value?.value === contactTypes[0].value) {
    <div class="mb-3">
      <label for="idnumber">{{ documentNumberLabel }}</label>
      <input class="form-control" formControlName="documentNumber" />
    </div>
    <div class="mb-3">
      <label for="email">{{ emailLabel }}</label>
      <input type="email" class="form-control" formControlName="email" />

      @if (form.get('email')?.touched && form.get('email')?.invalid) {
      <div class="text-danger small">Please enter a valid email address.</div>
      }
    </div>

    } @if (form.get('contactTypeSelected')?.value?.value === contactTypes[1].value) {
    <div class="mb-3">
      <label for="ogname">{{ organizationNameLabel }}</label>
      <input class="form-control" formControlName="organizationName" />
    </div>
    <div class="mb-3">
      <label for="address">{{ addressLabel }}</label>
      <input class="form-control" formControlName="address" />
    </div>
    } @if (form.get('contactTypeSelected')?.value?.value === contactTypes[2].value) {
    <div class="mb-3">
      <label for="legalrep">{{ legalRepresentativeLabel }}</label>
      <input class="form-control" formControlName="legalRepresentative" />
    </div>
    <div class="mb-3">
      <label for="address">{{ addressLabel }}</label>
      <input class="form-control" formControlName="address" />
    </div>
    }
  </form>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="onSave(modal)"
      [disabled]="form.invalid"
    >
      {{ saveButtonLabel }}
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="onCancel(modal)">
      {{ cancelButtonLabel }}
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  {{ modalTitle }}
</button>
