<ngbd-modal
  modalTitle="Edit"
  nameLabel="Name"
  phoneLabel="Phone number"
  commentLabel="Comment"
  documentNumberLabel="Document number"
  emailLabel="Email"
  organizationNameLabel="Organization name"
  addressLabel="Address"
  legalRepresentativeLabel="Legal Representative"
  [id]="contact?.id"
  [nameValue]="contact?.name ?? ''"
  [phoneValue]="contact?.phoneNumber ?? ''"
  [emailValue]="contact?.email ?? ''"
  [commentValue]="contact?.comments ?? ''"
  [documentNumberValue]="contact?.documentNumber ?? ''"
  [organizationNameValue]="contact?.organizationName ?? ''"
  [addressValue]="contact?.publicOrganizationAddress ?? contact?.privateOrganizationAddress ?? ''"
  [legalRepresentativeValue]="contact?.legalRepresentativeName ?? ''"
  [contactTypeValue]="contact?.contactType"
  saveButtonLabel="Save changes"
  cancelButtonLabel="Cancel"
  (save)="onSave($event)"
  (cancel)="onCancel()"
></ngbd-modal>

