<div class="table-responsive mt-3">
  <table class="table align-middle table-hover">
    <thead class="table-dark">
      <tr class="text-center align-middle">
        <th scope="col">Contact Type</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Comment</th>
        <th scope="col">Document number</th>
        <th scope="col">Email</th>
        <th scope="col">Organization name</th>
        <th scope="col">Address</th>
        <th scope="col">Legal representative</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="text-center">
      @for (contact of contacts; track contact.name) {
      <tr>
        <td>{{ contact.contactType }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.phoneNumber }}</td>
        <td>{{ contact.comment }}</td>
        <td>{{ contact.documentNumber }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.organizationName }}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.legalRepresentative }}</td>
        <td>
          <modal-edit></modal-edit>
        </td>
        <td>
          <ngbd-modal-delete></ngbd-modal-delete>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Message if not found contact-->
  @if (contacts.length === 0) {
  <div class="alert alert-info text-center">
    <i class="bi bi-info-circle me-2"></i>
    Not found contacts
  </div>
  }
</div>
