<ngbd-modal
  modalTitle="Add"
  nameLabel="Name"
  phoneLabel="Phone number"
  commentLabel="Comment"
  documentNumberLabel="Document number"
  emailLabel="Email"
  organizationNameLabel="Organization name"
  addressLabel="Address"
  legalRepresentativeLabel="Legal Representative"
  [nameValue]="contact.name"
  [phoneValue]="contact.phone"
  [commentValue]="contact.comment"
  [documentNumberValue]="contact.documentNumber"
  [emailValue]="contact.email"
  [organizationNameValue]="contact.organizationName"
  [addressValue]="contact.address"
  [legalRepresentativeValue]="contact.legalRepresentative"
  saveButtonLabel="Save"
  cancelButtonLabel="Cancel"
  (save)="onSave($event)"
  (cancel)="onCancel()"
></ngbd-modal>

